<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/adapt.css">
<div>
  <div class="location-title">
    <div class="location-title-inner">
      <div class="titles">
        <div class="title">Bulk export</div>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="buttons">
      Select:
      <button href="#" class="btn primary-hollow select" data-type="all">All</button>
      <button href="#" class="btn primary-hollow select" data-type="none">None</button>
      <button href="#" class="btn primary-hollow select" data-type="unexported">Unexported</button>
      <button href="#" class="btn primary-hollow select" data-type="updated">Recently updated</button>
    </div>
    <div class="buttons">
      <button class="btn secondary export">Export</button>
      <a class="btn secondary-hollow download hide">Download exports</a>
    </div>
    <div class="info hide">
      <h3>Processed <span class="done">0</span>/<span class="total">0</span></h3>
      <div class="progress"><div class="inner"></div></div>
    </div>
    <div class="courses">
      <div class="course header">
        <div class="attribute">Include</div>
        <div class="attribute">Course title</div>
        <div class="attribute">Last updated</div>
        <div class="attribute">Last exported</div>
        <div class="attribute">Debug</div>
      </div>
      {{#each courses}}
        <div class="course {{status}}" data-id="{{_id}}">
          <div class="attribute check centre"><input type="checkbox" id="{{_id}}" name="{{_id}}"></div>
          <div class="attribute title">{{title}}</div>
          <div class="attribute updatedAt" data-val="{{updatedTime}}">{{updatedAt}}</div>
          <div class="attribute exportedAt" data-val="{{exportedTime}}">{{exportedAt}}</div>
          <div class="attribute errormsg">{{error}}</div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<style media="screen">
  .hide {
    display: none;
  }
  html {
    overflow-y: auto;
  }
  body > div > .inner {
    margin: 15px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .buttons {
    margin-bottom: 20px;
  }
  .buttons .btn {
    padding: 5px 8px;
    cursor: pointer;
  }
  .progress {
    height: 10px;
    border: 1px solid #bfd7de;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .progress .inner {
    width: 0;
    height: 100%;
    background: #00dd95;
    transition-property: width;
    transition-duration: 0.5s;
  }
  .courses {
    display: table;
    border-collapse: collapse;
    background: white;
  }
  .courses .course {
    display: table-row;
    cursor: pointer;
  }
  .courses .course.ok {
    color: #209720;
  }
  .courses .course.warn {
    color: #e39601
  }
  .courses .course.fail {
    color: #e30101;
  }
  .courses .course:hover {
    background: #f1f5f7;
  }
  .courses .course.header {
    border-bottom: 2px solid #bfd7de;
  }
  .courses .course.header .attribute {
    font-weight: bold;
  }
  .courses .course .attribute {
    display: table-cell;
    padding: 10px;
    border: 1px solid #bfd7de;
  }
  .courses .course .attribute.centre {
    text-align: center;
  }
</style>
<script type="text/javascript">
  $(function() {
    $('button.select').click(checkAll);
    $('.export').click(doExport);
    
    $('.course').click(e => {
      const $c = $('input[type="checkbox"]', e.currentTarget);
      $c.prop('checked', !$c.prop('checked'));
    });

    function checkAll(e) {
      var $t = $(e.currentTarget);
      var type = $t.attr('data-type');
      var validators = {
        all: function() { return true; },
        none: function() { return false; },
        unexported: function(u,e) { return !e; },
        updated: function(u,e) { return u > e; }
      };
      $('.course').each(function(i,c) {
        var $c = $(c);
        if(!$c.attr('data-id')) {
          return;
        }
        var u = $('.attribute.updatedAt', $c).attr('data-val');
        var e = $('.attribute.exportedAt', $c).attr('data-val');
        $('input[type="checkbox"]', $c).prop('checked', validators[type](u,e));
      });
    }

    function doExport() {
      $.post('bulkexport', { courses: getChecked() })
        .done(function(data) {
          $('.info').removeClass('hide');
          updateProgress(data);
          const i = setInterval(function() {
            $.get('bulkexport/poll/' + data.id)
              .done(function(data) {
                updateProgress(data);
                if(data.completed + data.errors.length === data.total) {
                  clearInterval(i);
                  showDownloads(data.id);
                }
              })
              .fail(function(error) {
                clearInterval(i);
                console.log('error:', error);
              });
          }, 5000);
        })
        .fail(function(m) { console.log(m); });
    }

    function updateProgress(data) {
      var done = data.completed + data.errors.length;
      $('.info .done').text(done);
      $('.info .total').text(data.total);
      $('.progress .inner').css('width', ((done/data.total)*100) + '%');
    }

    function showDownloads(id) {
      $('.info').addClass('hide');
      $('.btn.download')
        .removeClass('hide')
        .attr({ download: `Export ${id}.zip`, href: `bulkexport/download/${id}` });
    }

    function getChecked() {
      var checked = [];
      $('.course input:checked').map(function(i,c) { checked.push($(c).attr('id')); });
      return checked;
    }
  });
</script>
